body {
 background-color:black
 color:blue
 font-family: "Trebuchet MS", "Comic Sans MS" cursive;
 margin: 0;
}

header{
    font-size: 60px;
    border-bottom: double 5px red
    padding: 6px 
    text-align: center;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px
}
