body {
background-color: rgb(255, 0, 0);
color:rgb(255, 255, 255)
font-family: "Trebuchet MS", "Comic Sans MS" cursive;
margin 0; 
}

header{
    font-size: 60px;
    border-bottom: double 5px pink
    padding: 6px 
    text-align: center;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px
}
